body {
  background-color: lightgray;
}

form {
  padding: 15px;
  align-self: center;
}

.btn {
  min-width: 100px;
}

.welcomeStyles,
.sortingStyles,
.sortedStyles .voldyStyles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  margin: 20px;
  text-align: center;
}

.cardsFlex,
.filteringButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sortedStyles {
  margin: 20px;
}

.voldyStyles {
  margin: 20px;
}

.card {
  margin: 10px;
  border: black 2px solid;
  text-align: center;
  color: black;
}

.voldyCards {
  background-color: black;
  color: white;
}

.form-control-plaintext {
  width: 50px;
}

/* #griffindor {
  background-color: rgb(170, 46, 46);
  color: white;
}

#ravenclaw {
  background-color: rgb(2, 2, 138);
  color: rgb(107, 96, 96);
}

#slytherin {
  background-color: rgb(0, 92, 0);
  color: white;
}

#hufflepuff {
  background-color: rgb(255, 240, 101);
  color: black;
} */

.crests {
  border-bottom: black 2px solid;
}

.buttonCard {
  margin: 20px;
  padding: 50x;
}
