body {
  background-color: lightgray;
}

.welcome,
.sortCard {
  background-color: rgb(255, 255, 255);
  border: black 2px solid;
  margin: 20px;
  text-align: center;
}

.nameInputForm {
  width: 300px;
}
