body {
  background-color: lightgray;
}

form {
  padding: 15px;
  align-self: center;
}

.btn {
  min-width: 100px;
}

.welcomeStyles,
.sortingStyles,
.sortedStyles .voldyStyles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border: black 1px solid;
  margin: 20px;
  text-align: center;
}

.cardsFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sortedStyles {
  margin: 20px;
}

.voldyStyles {
  margin: 20px;
}

.card {
  margin: 10px;
  border: black 1px solid;
  text-align: center;
}

.voldyCards {
  background-color: black;
  color: white;
}

.form-control-plaintext {
  width: 50px;
}
